$light_primaryColor: #3e86ab;
$light_secondaryColor: #9661ca;
$light_textColor: #8c8ba0;
$light_backgroundColor: #e9ece3;
$light_cardColor: #ffffff;
$light_searchbarColor: #b089d7;
$light_hoverColor: #b089d7;
$light_scrollColor: #8c8ba0;
$light_secondaryTextColor: #e9ece3;

$dark_primaryColor: #377fa4;
$dark_secondaryColor: #472e56;
$dark_textColor: #e9ece3;
$dark_secondaryTextColor: #e9ece3;
$dark_backgroundColor: #171717;
$dark_cardColor: #424242;
$dark_searchbarColor: #704988;
$dark_hoverColor: #704988;
$dark_scrollColor: #8c8ba0;

$placeholderColor: #929292;
$succesColor: #53a76c;
$warningColor: #d09734;
$dangerColor: #f44336;
