.nav_bar_groupbox{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 100%;
    height: 100%;
    // background-color: aqua;
    margin-bottom: 16px;
    overflow-y: scroll;
}