@use "../../constants/colors.scss" as c;

.content_container {
  overflow-x: hidden;
  height: 100vh;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.content_wrapper {
  height: 100%;
  overflow: hidden;
}

.Nav_Bar_container {
  overflow: hidden;
  max-width: 240px;
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding-inline: 16px;
  width: 240px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
  background-color: c.$dark_secondaryColor;
  border-radius: 15px;
}

@media only screen and (max-width: 1024px) {
  .Nav_Bar_container {
    max-width: 2.875rem;
    justify-content: center;
    width: 2.875rem;
  }
}

.light {
  &.Nav_Bar_container {
    background-color: c.$light_secondaryColor;
  }
}
