.Nav-Bar_container{
    margin-left: 8px;
    margin-right: 8px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: calc(100vh - 16px);
    background-color: #A671C6;
    border-radius: 15px;
}

.content{
    display: flex;
    flex-direction: row;
}

#top_bar_container{
    margin-top: 16px;
    height: 4rem;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#top_bar_container > h1 {
    font-size: 1.625rem;
    font-weight: 600;
}

#top_bar_container > div{
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top_bar_container > div:hover{
    filter: brightness(95%);
    background-color: #BD95D5;
    // box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
}

#top_bar_container > div:active{
    background: #6294AE;
    // box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);

}

#top_bar_container > div > .Side_Bar_popup_icon{
    rotate: 90deg;
    font-size: 1.875rem;
}

#searchbar{
    width: 100%;
    height: 2.5rem;
}

#searchbar > div{
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
    background: #BD95D5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.search_icon{
    margin-left: 8px;
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 8px;
}

.search_textfield{
    margin-right: 8px ;
    width: 100%;
    outline: none;
    font-size: 1.0625rem;
    background-color: transparent;
    border: none;
    color: #E9ECE3;
}

.search_textfield::placeholder{
    color: #E9ECE3;
}

.nav_bar_groupbox{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 100%;
    height: 100%;
    // background-color: aqua;
    margin-bottom: 16px;
    overflow-y: scroll;
}

.Nav_Link_active {
    user-select: none;
    background: #6294AE;
    box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
    // box-shadow: 1px 2px 4px 0px rgba(23, 36, 44, 0.25);
    // // border: 1px solid #E9ECE3;
    border-radius: 10px;
    height: 2.875rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #E9ECE3;}

.Nav_Link_active:hover{
    filter: brightness(95%);
    color: #E9ECE3;
}

.Nav_Link{
    user-select: none;
    border-radius: 10px;
    height: 2.875rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #E9ECE3;}

.Nav_Link:hover{
    filter: brightness(95%);
    color: #E9ECE3;
    background-color: #BD95D5;
    // border: 1px solid #E9ECE3
    // box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
}

.Nav_Link:active{
    user-select: none;
    font-weight: 500;
    color: #E9ECE3;
    background: #6294AE;
    box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
    // border: 1px solid #E9ECE3
    // box-shadow: 1px 2px 4px 0px rgba(23, 36, 44, 0.25);
}

.nav_button{
    margin-left: 8px;
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 8px;

}

.dropdown_button{
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center}

.dropdown_button:hover {
    background-color: #BD95D5;
    filter: brightness(95%);
    // border: 1px solid #E9ECE3;
    // box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
}

.dropdown_button:active{
    background: #6294AE;
}

.dropdown_button_active{
    
    rotate: 90deg;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center}

.dropdown_button_active:hover {
    background-color: #BD95D5;
    filter: brightness(95%);
    // border: 1px solid #E9ECE3;
    // box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
}

.dropdown_button_active:active{
    background: #6294AE;
    // box-shadow: 1px 2px 4px 0px rgba(88, 45, 113, 0.25);
}

.dropdown_menu{
    width: 1.5rem;
    height: 1.5rem;
}

.Nav_Link > h2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.0625rem;
    font-weight: 400;
    width: 100%;
    margin-right: 8px;
}

.Nav_Link_active > h2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.0625rem;
    font-weight: 500;
    width: 100%;
    margin-right: 8px;
}

.Nav_Link_wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Nav_Link_wrapper_active{
    max-width: 100%;
    margin-top: 4px ;
    margin-bottom: 4px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    background-color: #BD95D5;
}

